version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  go-build:
    jobs:
    - architect/go-build:
        binary: architect
        matrix:
          parameters:
            architecture:
              - linux/amd64
              - linux/arm64
        # Needed to trigger job also on git tag.
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries-multiarch:
        context: architect
        name: push-to-registries
        requires:
          - architect/go-build
        platforms: "linux/amd64,linux/arm64"
        registries-data: |-
          public gsoci.azurecr.io ACR_GSOCI_USERNAME ACR_GSOCI_PASSWORD true
        filters:
            # Needed to trigger job also on git tag.
          tags:
            only: /^v.*/
          branches:
            ignore:
              - main
              - master
